[submodule "GeminiAddon"]
	path = Newton/Lib/GeminiAddon
	url = https://github.com/wildstarnasa/GeminiAddon.git
[submodule "GeminiHook"]
	path = Newton/Lib/GeminiHook
	url = https://github.com/wildstarnasa/GeminiHook.git
[submodule "GeminiLogging"]
	path = Newton/Lib/GeminiLogging
	url = https://github.com/wildstarnasa/GeminiLogging.git
[submodule "GeminiLocale"]
	path = Newton/Lib/GeminiLocale
	url = https://github.com/wildstarnasa/GeminiLocale.git
[submodule "Newton/lib/Loop"]
	path = Newton/lib/Loop
	url = git@github.com:DoctorVanGogh/Loop.git
[submodule "Newton/lib/CallbackHandler"]
	path = Newton/lib/CallbackHandler
	url = https://github.com/wildstarnasa/CallbackHandler.git
[submodule "Newton/lib/GeminiDB"]
	path = Newton/lib/GeminiDB
	url = https://github.com/wildstarnasa/GeminiDB.git
